{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"semi": true,
	"tabWidth": 2,
	"bracketSpacing": false,
	"bracketSameLine": false,
	"arrowParens": "always",
	"trailingComma": "all",
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
