---
layout: default
title: Blog
description: This is the blog of Arthur Malumian, a programmer who posts about software development and more. He shares about the books he's reading, the movies he's watching, and the trips he's taking.
image: /assets/images/wide-logo.png
---

<section class="blog">
  <h1 class="blog__heading">
    Blog<span class="blog__total-posts" title="Total posts"
      >{{ paginator.total_posts }}
      <span class="blog__total-posts_hidden">Posts in total</span></span
    >
  </h1>

  <section class="blog__post-list">
    {% for post in paginator.posts %}
    <article class="post">
      <a class="post__link" href="{{ post.url }}">
        <img class="post__image" src="{{ post.image }}" alt="Post cover" />
        <div class="post__details">
          <h2 class="post__heading">{{ post.title }}</h2>
          <p class="post__date">{{ post.date | date: "%B %-d, %Y" }}</p>
          <p class="post__excerpt">
            {{ post.excerpt | strip_html | truncatewords: 25 }}
          </p>
        </div>
      </a>
    </article>
    {% endfor %}
  </section>

  <section class="pagination">
    <section class="pagination__side">
      {% if paginator.previous_page %}
      <a class="pagination__link" href="/" aria-label="First page">
        &#8676; First
      </a>
      <a
        class="pagination__link"
        href="{{ paginator.previous_page_path }}"
        aria-label="Previous page"
      >
        &#8592; Previous
      </a>
      {% else %}
      <div class="pagination__link_disabled" aria-hidden="true">
        &#8676; First
      </div>
      <div class="pagination__link_disabled" aria-hidden="true">
        &#8592; Previous
      </div>
      {% endif %}
    </section>
    <section class="pagination__side pagination__side_middle">
      <p class="pagination__page-number" aria-label="Pages">
        {{ paginator.page }} of {{ paginator.total_pages }}
      </p>
    </section>
    <section class="pagination__side">
      {% if paginator.next_page %}
      <a
        class="pagination__link"
        href="{{ paginator.next_page_path }}"
        aria-label="Next page"
      >
        Next &#8594;
      </a>
      <a
        class="pagination__link"
        href="/page/{{ paginator.total_pages }}"
        aria-label="Last page"
      >
        Last &#8677;
      </a>
      {% else %}
      <div class="pagination__link_disabled" aria-hidden="true">
        Next &#8594;
      </div>
      <div class="pagination__link_disabled" aria-hidden="true">
        Last &#8677;
      </div>
      {% endif %}
    </section>
  </section>
</section>
