<div id="disqus_thread">
  <noscript>JavaScript is disabled in your browser, that's why you can't see comments under this post.</noscript>
</div>
<script>
    var disqus_config = function () {
      this.page.url = document.location.href.split('?')[0].split('#')[0];
      this.page.identifier = this.page.url;
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://amalumian.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<script id="dsq-count-scr" src="//amalumian.disqus.com/count.js" async></script>
