.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__heading {
  }

  &__description {
    font-family: $font-family-sans-serif;
  }

  &__link {
  }
}
