.about {
  margin-bottom: 1rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    font-family: $font-family-sans-serif;
  }

  &__photo {
    display: block;
    margin: 0 0 1rem 1rem;
    float: right;
    width: 33%;

    aspect-ratio: 9 / 16;
    object-fit: cover;
  }
}
