.search {
  &__heading {
  }

  &__results {
    .post {
      margin-bottom: 2rem;

      &__link {
        display:block;
        text-decoration: none;

        &:hover {
          color: $color-black;
        }

        &:active {
          background-color: $color-gray-light-1;
        }
      }

      &__heading {
        font-family: $font-family-sans-serif-condensed;
        display: inline-block;

        &:hover {
          text-decoration: underline;
          color: $color-primary;
        }

        &:active {
          color: $color-primary-dark;
        }
      }

      &__date {
        margin: 0.4rem 0;

        font-size: $font-size-medium;
        font-family: $font-family-sans-serif-condensed;
        color: $color-gray;
      }

      &__excerpt {
        margin: 0;

        font-family: $font-family-sans-serif;
      }
    }
  }
}
