.setup {
  margin-bottom: 1rem;

  &__desk {
    display: block;
    margin-bottom: 1rem;

    object-fit: cover;
    object-position: center;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    font-family: $font-family-sans-serif;
  }

  ul {
    font-family: $font-family-sans-serif;
  }
}
