.header {
  border-bottom: $border;

  .wrapper {
    @include wrapper;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__id {
    max-height: 4rem;
    max-width: 10rem;

    &-logo {
      width: 100%;
      height: 100%;

      &:hover {
        g path {
          fill: $color-primary;
        }
      }
    }
  }

  &__navigation {
  }

  &__list {
    display: flex;

    font-family: $font-family-sans-serif-condensed;

    list-style: none;
  }

  &__item {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    @media only screen and (max-width: 430px) {
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }

  &__link {
    position: relative;

    display: block;
    padding: 0.5rem;

    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &_current {
      color: $color-primary;
    }
  }

  &__search {
    @media only screen and (max-width: 430px) {
      margin-top: 1rem;
      width: 100%;
    }
  }

  &__form {
    display: flex;
  }

  &__input {
    border: $border;
    border-right: none;
    border-radius: 0;
    padding: 0.2rem;
    width: 12rem;

    font-family: $font-family-sans-serif;
    font-size: $font-size-medium;

    &:focus {
      border: 0.1rem solid $color-primary;
      outline: none;
    }

    @media only screen and (max-width: 430px) {
      width: 100%;
    }
  }

  &__input[type='search'] {
    -webkit-appearance: none;
  }

  &__button {
    display: block;
    border: $border;
    border-left: 0;
    padding: 0.2rem;
    width: 2.8rem;
    height: 2.8rem;

    background-color: transparent;
    cursor: pointer;

    &:focus {
      background-color: rgba($color-gray, 0.1);

      outline: none;
    }

    &-icon {
      width: 100%;
      height: 100%;

      fill: $color-gray;

      &:hover {
        fill: $color-primary;
      }
    }
  }
}
