<!doctype html>
<html lang="en-US">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC7DYHZBWY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PC7DYHZBWY');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="{{ site.author_name }}">
    <title>
      {% if paginator.previous_page %}
        {{ page.title }} — Page {{ paginator.page }} | {{ site.author_name }}
      {% else %}
        {{ page.title }} | {{ site.author_name }}
      {% endif %}
    </title>
    {% feed_meta %} {% seo title=false %}
    {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% endif %}
    <meta property="twitter:domain" content="amalumian.dev">
    <meta property="twitter:url" content="{{site.url}}{{page.url}}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <link rel="icon" href="/assets/images/favicons/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/images/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script defer src="/assets/js/main.js"></script>
  </head>
  <body>
    <a href="#content" class="skip-link visually-hidden">Skip to main content</a>
    {% include header.html %}
    <main id="content" class="main">{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
