---
layout: default
---

<section class="post-page">
  {% include breadcrumbs.html %}
  <article class="post">
    <h1 class="post__heading">{{ page.title }}</h1>
    <div class="post__details">
      <ul class="post__list">
        <li class="post__item">
          <a class="post__link" href="/about/">{{ site.author }}</a>
        </li>
        <li class="post__item">
          <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
            {{ page.date | date: "%B %-d, %Y" }}
          </time>
        </li>
        <li class="post__item">{% include reading-time.html %}</li>
        <li class="post__item">
          <a
            class="post__link"
            href="{{ site.url }}{{ page.url }}#disqus_thread"
          >
            comments
          </a>
        </li>
      </ul>
    </div>
    <figure class="post__figure">
      <img
        class="post__image"
        src="{{ page.image }}"
        alt="Post cover: {{ page.image-alt }}"
      >
      <figcaption class="post__figcaption">
        {{ page.image-figcaption }}
      </figcaption>
    </figure>
    {% include share-buttons.html %}
    {{ content }}
  </article>
  {% if page.previous.url or page.next.url %}
  <div class="post-page__navigation">
    {% if page.previous.url %}
    <a
      class="post-page__prev"
      href="{{ page.previous.url }}"
      aria-label="Previous post: {{ page.previous.title }}"
    >
      &#8592; {{ page.previous.title }}
    </a>
    {% endif %}
    {% if page.next.url %}
    <a
      class="post-page__next"
      href="{{ page.next.url }}"
      aria-label="Next post: {{ page.next.title }}"
    >
      {{ page.next.title }} &#8594;
    </a>
    {% endif %}
  </div>
  {% endif %}
  <div class="post-page__disqus">{% include disqus.html %}</div>
</section>
